<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>Welcome to Biocis: a bioinformatics workbench.</display-name>
	<description/>
	<context-param>
		<param-name>author</param-name>
		<param-value>mishrask@yahoo.com</param-value>
	</context-param>
	<context-param>
		<param-name>loggerConfig</param-name>
		<param-value>/conf/logger.properties</param-value>
	</context-param>
	<context-param>
		<param-name>maxThreadPoolSize</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>hashKeyFactory</param-name>
		<param-value>com.biocis.utils.SimpleHashkeyFactory</param-value>
	</context-param>
	<context-param>
		<param-name>oStoreLocation</param-name>
		<param-value>c:/jboss-3.0.3/wisdom/server/xstore/file/</param-value>
	</context-param>
	<context-param>
		<param-name>gbrowserLocation</param-name>
		<param-value>/usr/local/apache/htdocs/gbrowse/databases/</param-value>
	</context-param>
	<context-param>
		<param-name>httpCodebase</param-name>
		<param-value>http://69.237.120.190:9000/BioScope/views/htmls/</param-value>
	</context-param>
	<context-param>
		<param-name>cacheLocation</param-name>
		<param-value>cache</param-value>
	</context-param>
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.sql.dataSource
		</param-name>
		<param-value>
			jdbc:mysql://localhost:3306/BugTrack,com.mysql.jdbc.Driver,cogency,wisdom
		</param-value>
	</context-param>
	<context-param>
		<param-name>spiderConfig</param-name>
		<param-value>/conf/spiders/configuration.xml</param-value>
	</context-param>
	<context-param>
		<param-name>spiders</param-name>
		<param-value>Gigablast</param-value>
	</context-param>
	
	<context-param>
		<param-name>useMemcache</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>memcacheConfig</param-name>
		<param-value>serverList=127.0.0.1:9099;port=9099;compression=true;compressionThreshold=4096;initConnection=5;minConnection=5;maxConnection=20;maintenanceSleep=30;nagle=false;threadCount=5;runPerThread=5;maxObjectSize=40</param-value>
	</context-param>
	<resource-ref>
		<description>BioCis datasource </description>
		<res-ref-name>jdbc/biocis</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Sharable</res-sharing-scope>
	</resource-ref>
	<filter>
    <filter-name>accessControl</filter-name>
    <filter-class>
      com.sbs.servlets.filters.AccessControlFilter
    </filter-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/views/jsps/login.jsp</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>accessControl</filter-name>
    <url-pattern>/protected/*</url-pattern>
  </filter-mapping>
	<!--
	<resource-ref>
		<description>Infobus Icon Category datasource </description>
		<res-ref-name>jdbc/category</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Sharable</res-sharing-scope>
	</resource-ref>	
	-->
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.biocis.infobus.servlets.InfoBusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>enhancer</servlet-name>
		<servlet-class>com.biocis.servlets.SuperEnhancerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>enhancerRefresh</servlet-name>
		<servlet-class>com.biocis.servlets.EnhancerRefreshServlet</servlet-class>
		<init-param>
			<param-name>jsp</param-name>
			<param-value>/views/jsps/protected/enhancerResSummary.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>xslt</param-name>
			<param-value>/xsl/enhancerSummary.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>/protected/enhancerResDetail</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>enhancerResDetail</servlet-name>
		<servlet-class>com.biocis.servlets.EnhancerResultDetail</servlet-class>
		<init-param>
			<param-name>jsp</param-name>
			<param-value>/views/jsps/protected/enhancerResDetail.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>xslt</param-name>
			<param-value>/xsl/enhancerDetail.xsl</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>cluster</servlet-name>
		<servlet-class>com.biocis.servlets.SuperClusterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>enhancer</servlet-name>
		<url-pattern>/enhancer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enhancerRefresh</servlet-name>
		<url-pattern>/enhancerRefresh/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enhancerResDetail</servlet-name>
		<url-pattern>/protected/enhancerResDetail/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cluster</servlet-name>
		<url-pattern>/cluster/*</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/views/jsps/taglibDef.jspf</include-prelude>
			<include-coda>/views/htmls/footer.htmlf</include-coda>
		</jsp-property-group>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
    <location>/views/jsps/errorpage.jsp</location>
  </error-page>
	
	<listener>
		<listener-class>
			com.biocis.servlets.listeners.BiocisContextListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			com.biocis.servlets.listeners.BiocisSessionListener
		</listener-class>
	</listener>
</web-app>
